*
{
	padding: 0px;
	margin: 0px;
	color: #37474F;
	font-family: 'Open Sans', sans-serif;  
	font-weight: 400;
}

.container
{
	width: 100%;
}

header
{
	height: 100px;
	width: 100%;
	background: #167474;
	margin: 0 auto;
}

section
{
	height: 100%;
	width: 100%;
}


.fa-film
{
	float: left;
	margin: 5px;
	padding: 10px;
	font-size: 70px;
	color: white;
}

.title
{
	float: left;
	margin: 3px 10px;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: white;
}		

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
		left bottom,
		left top,
		color-stop(0.44, #c5d8d8),
		color-stop(0.72, #8ab2b2),
		color-stop(0.86, #167474));
}

.watch_trailer{
margin-top: 16px;
margin-left: 16px;
}

#movie-poster {
	width: 100%;
}

.movie-name 
{

	margin: 16px;
	text-align: left;
	font-size: 43px;  
	font-weight: 900;
}

.movie-details 
{
	clear:both;
	margin: 16px;
	text-align: left; 
	font-weight: 400;
}

.movie-synopsis
{
	margin: 16px;
	font-weight: 300;
	font-size: 24px;
}

tr th {
	width: 250px;
	vertical-align: top;
	font-size: 28px;
	font-weight: 600;
}

tr td {
	font-size: 28px;
}

.movie-review
{
	margin: 16px;
	font-weight: 400;
	display: inline-block;
	font-size: 24px;
}

h2
{
	margin: 16px;
	font-weight: 800;
	font-size: 28px;
}

.author_content_span{
	font-weight: 300;
}

.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 2px;
	text-shadow: 0px 1px 2px #878087;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	font-size: 30px;
	padding: 18px 30px;
	text-decoration: none;
	border: none;
}

.btn:active {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
	border: none;
	outline: none;
}

