*
{
	padding: 0px;
	margin: 0px;
	color: #37474F;
	font-family: 'Open Sans', sans-serif;  
	font-weight: 400;
}

.container
{
	width: 100%;
	height: 100%;
	border: 1px solid #167474;
}

.module {

 overflow: hidden;
}
.line-clamp {
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;  
 max-height: 4.6em; /* I needed this to get it to work */
}

header
{
	height: 100px;
	width: 100%;
	background: #167474;
	margin: 0 auto;
	box-shadow: inset 1px 0px 24px 0px #8ab2b2;
}

section
{
	height: 100%;
	width: 100%;
}


.fa-film
{
	float: left;
	margin: 5px;
	padding: 10px;
	font-size: 70px;
}

.title
{
	float: left;
	margin: 3px 10px;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: white;
}		

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
		left bottom,
		left top,
		color-stop(0.44, #c5d8d8),
		color-stop(0.72, #8ab2b2),
		color-stop(0.86, #167474));
}

.watch_trailer{
margin-top: 6px;
}

.watch_trailer button{
	background-color:;
	font-size: 18px;
	border: 2px solid #a1a1a1;
	border-radius: 25px;
	padding: 5px;
}
#movie-poster {
	width: 100%;
}

.movie-name 
{

	margin: 8px;
	text-align: left;
	font-size: 18px;  
	font-weight: 900;
	height: 48px;
	padding: 3px 10px;
	float: left;
}

.movie-details 
{
	clear:both;
	margin: 8px;
	text-align: left; 
	font-weight: 400;
	padding: 3px 10px;
}

.movie-synopsis
{
	margin: 8px;
	font-weight: 300;
	padding: 3px 10px;
}

tr th {
	width: 200px;
	vertical-align: top;
}

.movie-review
{
	margin: 8px;
	font-weight: 300;
	padding: 3px 10px;
	display: inline-block;
}

h4
{
	margin: 8px;
	font-weight: 800;
	padding: 3px 10px;
}
h5{
	margin-top: 8px;
	margin-left: 0px;
	font-weight: 700;

}

.author_content_span{
	font-weight: 300;
}
