.container
{
    width: 480px;
    height: 800px;
    margin: auto;
    background: #dcdcdc ;
}

header
{
    height: 56px;
    width: 480px;
    background: #FF5252 ;
    margin: auto;
    position: absolute;
    box-shadow: inset 1px 0px 24px 0px #FBB0B0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.fa-film
{
    float: left;
    margin: 5px;
    padding: 10px;
    font-size: 25px;
}

.title
{
    float: left;
    margin: 5px 70px;
    padding: 10px;
    font-size: 20px;
    font-family: roboto;
}        

.fa-times
{
    float: right;
    margin: 5px;
    padding: 10px;
}

.movie-pic {width: 480px;  height:216px; position:absolute; margin-top:56px}

.movie-name {position: absolute;
margin-top: 296px;
margin-bottom: 8px;
margin-left: 8px;
margin-right: 8px;
width: 464px;
text-align: left;
font-family: 'Open Sans', sans-serif;  
font-weight: 400;
height: 48px;}

.movie-details {position: absolute;
margin-top: 336px;
margin-bottom: 8px;
margin-left: 8px;
margin-right: 8px;
width: 464px;
text-align: left;
font-family: 'Open Sans', sans-serif;  
font-weight: 400;
height: 112px;}

.movie-synopsis{
width: 464px;
margin-top: 472px;
margin-left: 8px;
margin-bottom: 8px;
margin-left: 8px;
margin-right: 8px;
position: absolute;
font-family: 'Open Sans', sans-serif;  
font-weight: 300;
}

.movie-review{
width: 464px;
margin-top: 528px;
margin-left: 8px;
margin-bottom: 8px;
margin-left: 8px;
margin-right: 8px;
position: absolute;
font-family: 'Open Sans', sans-serif;
font-weight: 300;}




