@media (max-width: 700px) {
  .container{
    width: 100%;
  }
  header{
    width: 100%;
  }
  section{
    width: 100%;
  }
  .movie-name 
  {   
      margin-top: 100px;
    -webkit-box-flex: 1;
  }

  .movie-details 
  {   
 
    -webkit-box-flex: 1;
  }

  .movie-synopsis
  {   
        -webkit-box-flex: 1;
  }

  .movie-review
  {   
  
    -webkit-box-flex: 1;
  }
  .watch_trailer button{
 margin-top: 95px;
  -webkit-box-flex: 1;
  }
  .movie-pic 
  {  
    height: 216px; 
    border: 1px solid;
    -webkit-box-flex: 1;
  }


  h4
  {   
    -webkit-box-flex: 1;
  }
  
  body
  {
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
  }
}
 